body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.analysis-group-tables-box {
  display: inline-block;
  vertical-align: top;
}

.card-box-inline {
  display: inline-block;
  vertical-align: top;
}


@media screen and (max-width: 1000px) {
  .card-box-inline {
    width: 100% !important;
    /* max-height: 560px !important; */
  }
  .card-box-inline .el-table {
    max-height: 560px !important;
  }
}